button {
    border-radius: 4px;
    border: 1px solid @win7_button_border;
    padding: 4px 10px;
    background-image: linear-gradient(
        to bottom,
        @win7_button_top,
        @win7_button_mid 50%,
        @win7_button_bottom
    );
    color: #1a1a1a;
}
button:hover {
    background-image: linear-gradient(
        to bottom,
        white,
        @win7_button_hover
    );
}
button:active {
    background-image: linear-gradient(
        to bottom,
        @win7_button_pressed,
        @win7_button_mid
    );
    border-color: darken(@win7_button_border, 10%);
}

