/* DEBUG WIDGET OUTLINE */
@define-color dbg-red #ff4444;
@define-color dbg-blue #4488ff;
@define-color dbg-yellow #ffee44;

* {
  border: 1px dashed @dbg-red;
  box-shadow: inset 0 0 0 1px @dbg-blue;
  outline: 1px dashed @dbg-yellow;
}
