@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk.css");

/* SYSTEM CONFIG */
@import url("SYSTEM/font.cfg");
@import url("SYSTEM/Color-scheme.cfg");
@import url("SYSTEM/DWM.cfg");


/*   Controls */
@import url("UI/controls/buttons/pushbutton.css");
@import url("UI/controls/Trackbar/thumb.css");
@import url("UI/controls/progress-bars/progressbar.css");
@import url("UI/controls/Scroll/scroll.css");
@import url("UI/controls/Checkbox/checkbox.css");
@import url("UI/controls/Spin/spinner.css");
@import url("UI/controls/switch/switch.css");
/* Explorer */
@import url("UI/window/caption_active.css");
@import url("UI/window/Caption_inactive.css");
@import url("UI/Explorer/tabs/tabitem.css");
@import url("UI/window/caption.css");
/* Apps */
@import url("toolbar.css");
@import url("nemo.css");
@import url("window-controls.css");
@import url("gtk-3.0-dark.css");

/* Dark Mode */
@import url("gtk-dark.css");
