/* Se requiere Parchar la transparencia con herramientas linux */
@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk.css");
:root {
  --accent: #0078D7;
  --bg: #121212;
  --fg: #ffffff;
  /* ==============================
    Fonts Base
   ============================== */

* {
    font-family: "Segoe UI", "Cantarell", sans-serif;
    font-size: 9pt;
}

@define-color aero-accent-bg #ffffff;
@define-color win-accent-dark #2b78ff;
@define-color win-accent-light #9fd0ff;

}
@import url("colors.css");
@import url("transparencies.css");
@import url("widgets.css");
@import url("headerbar.css");
@import url("toolbar.css");
@import url("nemo.css");
@import url("pathbar.css");
@import url("progressbar.css");
@import url("window-controls.csss");

