@import url("resource:///org/gtk/libgtk/theme/Adwaita/gtk.css");
:root {
  --accent: #0078D7;
  --bg: #121212;
  --fg: #ffffff;

* {
    font-family: "Segoe UI", "Cantarell", sans-serif;
    font-size: 9pt;
}

}
@import url("colors.css");
@import url("transparencies.css");
@import url("widgets.css");
@import url("headerbar.css");
@import url("toolbar.css");
@import url("nemo.css");
@import url("pathbar.css");
@import url("progressbar.css");
@import url("window-controls.css");

