/* Barra superior con overlays reales */
headerbar {
    background-image: linear-gradient(
        rgba(255,255,255,0.30),
        rgba(255,255,255,0.10)
    ),
    linear-gradient(
        rgba(255,255,255,0.15),
        rgba(255,255,255,0.05)
    );
    background-color: rgba(255,255,255,0.08); /* efecto translúcido */
    border-bottom: 1px solid rgba(255,255,255,0.20);
}

headerbar .title,
.titlebar .title {
    color: #ffffff; /* color del título */
    text-shadow: 0 1px 2px rgba(0,0,0,0.65);
}

/* Ventana inactiva */
window:backdrop headerbar {
    background-image: linear-gradient(
        rgba(255,255,255,0.00),
        rgba(255,255,255,0.10)
    ),
    linear-gradient(
        rgba(255,255,255,0.15),
        rgba(255,255,255,0.05)
    );
    background-color: rgba(255,255,255,0.08); /* efecto translúcido */
    border-bottom: 1px solid rgba(255,255,255,0.20);
}
}

/* Reflejos laterales simulados */
window > box {
    box-shadow:
        inset 12px 0 0 rgba(255,255,255,0.04),
        inset -12px 0 0 rgba(255,255,255,0.04),
        inset 0 -12px 0 rgba(255,255,255,0.04);
}

header:active {
    background-image:url("assets/window/DWMWindow_FrameTop_ActiveImage.png");
    background-position: left top, right top, left top;
    background-size: auto, auto, contain;
    border-bottom: 1px solid rgba(255,255,255,0.35);
    margin: 9, 0, 0, 0;
}

menubar.menubar {
 -GtkWidget-window-dragging: true;
  padding: 0;
  background-image:url("assets/window/Default__Rebar_BackgroundImage.png);
    background-position: left top, right top, left top;
    background-size: auto, auto, contain;
    border-bottom: 1px solid rgba(255,255,255,0.35);
    margin: 9, 0, 0, 0;
}
