progressbar {
    padding: 1px;
      min-height: 14px;
         background-color: white;

}
progressbar trough {
    border-radius: 3px;
    border: 1px solid #9db6cc;
    background: #e9f1fb;
    min-height: 16px;
}

progressbar progress {
    background-image: linear-gradient(
        to right,
        #8aee8a,
        #4db84d
    );
    min-height: 16px;
}

progressbar progress {
    animation: progress_move 5s linear infinite;
    background-size: 14px 100%;
    badckground-repeat: no-repeat; */
    background-color:transparent;
    min-width: 14px;
}

@keyframes progress_move {
    from { background-position: 0 0; }
    to   { background-position: 100px 0; }
}

