/* =====================================
   GTK Aero DWM – assets/window structure
   ===================================== */

/* Marco general */
window {
    background-color: rgba(25,25,25,0.12);
    border-radius: 8px;
    border: 1px solid rgba(255,255,255,0.35);
     border-style: solid;
    border-width: 0px 0px 0px 0px;
}
