scale slider {
    min-width: 6px;
    min-height: 19px;
    border-radius: 1px;
    border: 1px solid #767676;
    background-image: linear-gradient(
        to bottom,
        #f0f0f0,
        #d9d9d9);
        padding: -1px;
}

scale slider:hover {
    background-image: linear-gradient(
        to bottom,
        #e9f6fd,
        #bde6fd
    );
    border-color: #3c7fb1;
}

