notebook,
notebook tab {
    background-color: #f2f2f2;
    font-weight: normal;
    color: black;
    
/* barra de pestañas */
notebook header,
.notebook header {
    background-color: transparent;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

/* pestaña inactiva */
notebook tab,
.notebook tab {
    background-color: rgba(255,255,255,0.85);
    border: 1px solid rgba(0,0,0,0.08);
    border-bottom: none;
    padding: 6px 10px;
    margin-right: 2px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* pestaña activa */
notebook tab:checked,
.notebook tab:checked {
    background-image: linear-gradient(to bottom, @accent_color, #fac83c );
    color: white;
    border-color: #fac83c;
    box-shadow: inset 0 1px rgba(255,255,255,0.2);
    }
    
    frame.border-inset {
      box-shadow:
        0 0 0 12px white,
        0 0 0 20px rgba(0,0,0,0.15),
        0 0 24px rgba(0,0,0,0.35);

    border-radius: 10px;

    /* Reflejo Aero */
    background-image: url("SYSTEM/DWM.cfg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    /* No mezclar fondo con contenido interno */
    background-clip: padding-box;
}

