stage {
  color: #79d2ff; }

.label-shadow {
  color: rgba(0, 0, 0, 0); }

/* ===============================
   Windows Accent - Cinnamon Panel
   =============================== */

/* ================= Panel Aero Glass ================= */

.panel {
    background-color: rgba(255,255,255,0.08); /* leve translucidez */
    border: none;
    box-shadow: 0 1px 2px rgba(0,0,0,0.25);
}

.panel .panel-top,
.panel .panel-bottom {
    background-color: rgba(255,255,255,0.08);
}

.panel *,
.panel .applet-label {
    color: white;
    text-shadow:
        0px 1px 2px rgba(0,0,0,0.85),
        0px 0px 4px rgba(0,0,0,0.45);
}

/* ================= Applets ================= */

.panel-button {
    color: white;
    border-radius: 0;
    padding: 4px 8px;
}

.panel-button:hover {
    background-color: rgba(255,255,255,0.15);
}

.panel-button:active {
    background-color: rgba(0,0,0,0.15);
}

/* ================= Hover menú ================= */
.menu-item:hover,
.menu-item:selected {
  background-color: rgba(30,144,255,0.6); /* reemplazo de @accent_color */
  color: #ffffff;
}

/* ================= Clock ================= */

#calendar-desktop-label,
.panel .applet .label.time {
  font-family: "Segoe UI", "Noto Sans", sans-serif;
  font-size: 12pt;
  font-weight: 600;
  color: white; /* reemplazo de @panel_text */
}

#calendar-desktop-label .date,
.panel .applet .label.date {
  font-size: 9pt;
  font-weight: 400;
  color: rgba(255,255,255,0.85);
}

/* ================ Menú principal estilo Windows 7 ================ */

.menu,
.popup-menu,
.popup-combo-menu {
    background-color: rgba(40, 40, 40, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.45);
    border-radius: 10px;
    padding: 6px;
    background-size: cover;
}

/* ================= Window List (Lista de ventanas) ================= */

.window-list-item-box {
    background-color: transparent;
    border: 1px solid transparent;
}

.window-list-item-box:focus {
    background-color: rgba(255,255,255,0.25);
    border: 1px solid rgba(255,255,255,0.4);
}

.window-list-item-box:hover {
    background-color: rgba(255,255,255,0.15);
}

/* ================= Calendario ================= */

.popup-calendar {
    background-color: rgba(50, 50, 50, 0.25);
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,0.40);
}

/* ================= Applet Box ================= */

.applet-box {
    background: rgba(255,255,255,0.10);
    border: 1px solid rgba(255,

