button button:label text-button {
    border-radius: 2px;
    border: 1px solid #9db6cc;
    padding: 4px 10px;
    background-image: linear-gradient(
        to bottom, #ededed, #d4d4d4);
    color: #1a1a1a;
    min-height: 23px;
}
button:hover {
    background-image: linear-gradient(
        to bottom, #ededed, #d4d4d4);
        min-height: 23px;
}
button:active {
    background-image: linear-gradient(
        to bottom, #d3ecf9, #7fc2e5);
    );
    min-height: 23px;
    border-color: #68b3db;
}

